body{
    background-color: #cedebd;
}

h1{
    color: #66bfbf;
}

h3{
    color: #614bc3;
 }

HR{
    border-style:none ;
    border-top-style: dotted;
    border-color: #33BBC5;
    border-width: 5PX;
    width: 5%;
} 

